<footer class="bg-dark py-4">
  <div
    class="flex flex-col items-center gap-3 md:flex-row justify-between px-26.5"
  >
    <div>
      <img src="./assets/images/logo.png" alt="Logo" class="max-h-12" />
    </div>

    <nav class="flex gap-6">
      <a href="./index.html" class="font-semibold text-light hover:text-info">Inicio</a>
      <a href="./participants.html" class="font-semibold text-light hover:text-info">Participantes</a>
      <a href="#" class="font-semibold text-light hover:text-info">Artículo</a>
      <a href="#" class="font-semibold text-light hover:text-info">Contacto</a>
      <a href="./ia.html" class="font-semibold text-light hover:text-info">IA</a>
    </nav>

    <div class="flex gap-3">
      <a href="" class="text-xl text-light hover:text-info" aria-label="Google">
        <i class="fa-brands fa-google-plus-g"></i>
      </a>
      <a href="" class="text-xl text-light hover:text-info" aria-label="Facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="text-xl text-light hover:text-info" aria-label="Twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>
