<header class="bg-primary py-4">
  <div
    class="flex justify-between items-center px-26.5"
  >
    <a href="index.html">
      <img src="./assets/images/logo.png" alt="Logo" class="max-h-12" />
    </a>

    <nav class="flex gap-6">
      <a href="./participants.html" class="font-semibold text-light hover:text-info">Participantes</a>
      <a href="#" class="font-semibold text-light hover:text-info">Artículo</a>
      <a href="#" class="font-semibold text-light hover:text-info">Contacto</a>
      <a href="./ia.html" class="font-semibold text-light hover:text-info">IA</a>
    </nav>
  </div>
</header>
