<div class="flex flex-wrap justify-center gap-6">
  <include
    src="./views/participants-card.html"
    locals='{
      "img": "./assets/images/avatar1.png",
      "name": "Ana Pérez",
      "desc": "Especialista en cocina tradicional mediterránea."
    }'
  ></include>

  <include
    src="./views/participants-card.html"
    locals='{
      "img": "./assets/images/avatar2.png",
      "name": "Luis Romero",
      "desc": "Chef experto en carnes y asados regionales."
    }'
  ></include>

  <include
    src="./views/participants-card.html"
    locals='{
      "img": "./assets/images/avatar1.png",
      "name": "María López",
      "desc": "Especialista en gastronomía dulce y repostería artesanal."
    }'
  ></include>

  <include
    src="./views/participants-card.html"
    locals='{
      "img": "./assets/images/avatar2.png",
      "name": "Javier Torres",
      "desc": "Chef de cocina creativa con productos locales."
    }'
  ></include>

  <include
    src="./views/participants-card.html"
    locals='{
      "img": "./assets/images/avatar1.png",
      "name": "Sara Molina",
      "desc": "Experta en cocina vegetariana y sostenible."
    }'
  ></include>

  <include
    src="./views/participants-card.html"
    locals='{
      "img": "./assets/images/avatar2.png",
      "name": "Carlos Vidal",
      "desc": "Especialista en arroces y platos tradicionales valencianos."
    }'
  ></include>
</div>
